<header>
    <div class="container">
        <div class="row thank-you-header my-20">
            <div class="col-md-12 text-center">
                <h4>THANK YOU FOR SUBSCRIBING!</h4>
                <h4>PLEASE CHECK YOUR EMAIL INBOX. YOU WILL RECEIVE AN IMPORTANT EMAIL FROM <span
                        class="text-success font-weight-bold">contact@doggesik.com</span> WITH A
                    LINK TO YOUR FREE EBOOK.</h4>
                <h4>TAKE A MOMENT FIRST TO CHECK OUT THIS OFFER</h4>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container text-center keto-step-form-wrap pt-4">
        <h2>Watch This <span class="text-success font-weight-bold">Free Special Presentation</span><br />
            And Get Your Brain Training <br />
            For Dogs… Now
        </h2>
    </div>
    <div class="text-center container video-container">
        <div class="diet-video my-50 embed-responsive embed-responsive-9by16">


            <video class="embed-responsive-item" controls
                poster="../../../../assets/img/brain-training-for-dogs-natural-intelligence.png">
                <source src="../../../../assets/video/Brain-Training.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="text-center pt-4">
        <div class="container">
            <h2 class="font-weight-bold">Who needs this secret to using your <span
                    class="text-success font-weight-bold">dog's
                    natural intelligence</span> to stop bad behavior?</h2>
            <ul class="py-4 text-left list-product-features">
                <li>Your dog doesn't listen to you</li>
                <li>You need to train a new Puppy</li>
                <li>Your dog barks uncontrollably</li>
                <li>Your Dog is pulling on the leash</li>
                <li>Your Dog is aggressive</li>
                <li>Your Dog is chewing things he shouldn't</li>
                <li>Your Dog is digging all the time</li>
                <li>Your Dog is Jumping up</li>
                <li>You're frustrated with your dog</li>
                <li>You may even regret getting your Dog</li>
                <li>You're worried you might have to give up your Dog because of behavior problems you can't handle
                </li>
                <li>You feel helpless to control your dog</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center pt-4">
        <!-- Change this link to your affiliate link  -->
        <a class="btn btn-success btn-sm-block text-uppercase  my-20 py-20 font-weight-bold" target="_blank"
            id="submit-button" href="http://1.gesyk1_brainydogs.pay.clickbank.net/?cbskin=19833       ">
            <span>Get Your Brain Training For Dogs Now</span></a>
    </div>
</main>
<footer class="lp-footer bg-gray mt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-white mb-0 py-10">© 2021 Gesiklo. All right Reserved</p>
            </div>
        </div>
    </div>
</footer>