<header>
    <div class="container">
        <div class="row thank-you-header my-20">
            <div class="col-md-12 text-center">
                <h3>THANK YOU FOR SUBSCRIBING!</h3>
                <h3>PLEASE CHECK YOUR EMAIL INBOX. YOU WILL RECEIVE AN IMPORTANT EMAIL FROM contact@doggesik.com WITH A
                    LINK TO YOUR FREE EBOOK.</h3>
                <h3>TAKE A MOMENT FIRST TO CHECK OUT THIS OFFER</h3>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 font-weight-bold text-center">
                <h2>Simple Dog Training strategy that…</h2>
                <h2>Develops Your Dog's "Hidden Intelligence" to Eliminate Bad<br /> Behavior and Have a Really
                    Well-Behaved Dog
                </h2>
                <h2 class="text-danger">Brain Training for Dogs <br />PLUS Exclusive Bonuses</h2>
                <img src="assets/img/brain-training-for-dogs-natural-intelligence.png" alt="dog game ebook" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Searching for brain training for dogs system? Once you learn these simple techniques for unlocking
                    your dog's natural intelligence you will be amazed at how quickly problem behaviors disappear and
                    your dog starts to obey you!</p>
                <h1 class="text-center my-20 font-weight-bold">About Author</h1>
                <img class="d-block mx-auto" src="assets/img/landing-page/author-ebook.jpg" alt="about author" />
                <p class="mt-30">Adrienne Farricelli is a professional dog trainer, the woman behind the Brain Training
                    for Dogs, the
                    online dog training course. She’s a CPDT-KA certified trainer in the USA ( CPDT-KA is short for
                    Certified Professional Dog Trainer – Knowledge Assessed). This certification is important for you
                    and your dog.</p>
                <p>In 2010, the Italian Association for Dog Trainers and Canine Consultants awarded Adrienne her first
                    certification after she had spent more than 200 hours as an apprentice for a master dog trainer.
                    Soon after, she obtained the CPDT-KA certification as a US dog trainer.</p>
                <p>Today, dog owners all over the world turn to Adrienne for dog training advice and dog behavior
                    guidance. Her CCPDT certification requires constant learning. That’s why she’s always updating her
                    knowledge of dog training and behavior modification. She has, for example, studied canine
                    theriogenology at the University of Minnesota, plus dog emotion and cognition at Duke University.
                </p>
                <p>Back in 2015, she signed up for an advanced science program, in which she’s now working towards a
                    diploma in canine behavior science. She has also completed courses on Canine Hospice and End-of-Life
                    Care for Dogs.</p>
                <p>Adrienne Farricelli is a force-free dog trainer. Her scientifically based training philosophy is
                    based on positive reinforcement of good behavior instead of punishment for bad behavior. Adrienne is
                    also an enthusiastic writer. She has written a vast number of articles about dog training in several
                    online publications, like Daily Puppy, Paw Nation, and eHow. She runs a dog behavior blog over at
                    HubPages. And she has been quoted by major news outlets like the Independent.</p>
                <p>More recently, her work has been featured in USA Today and Every Dog magazine.</p>
                <p>Adrienne began her career with animals working at a veterinary hospital and is certified in pet first
                    aid. It’s clear that working with and bettering the lives of animals is a passion.</p>
                <p>In Adrienne’s words…</p>
                <p>“I’m going to reveal how you can QUICKLY eliminate any behavioral problem… no matter how badly you
                    think it’s ingrained… no matter what kind of dog you have.“</p>
            </div>
        </div>
    </div>
</main>