<div id="homeSlider" class="carousel-home carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/slide-image2.jpg" alt="Second slide">
            <div class="carousel-caption d-block text-left">
                <h2 class="text-white p-10">DOG TRAINING</h2>
                <h3 class="mb-5 p-10">Training course beyond the basics</h3>
                <a class="btn btn-success btn-sm-block text-uppercase  my-20 py-20 font-weight-bold" target="_blank"
                    id="submit-button" href="http://1.gesyk1_brainydogs.pay.clickbank.net/?cbskin=19833       ">
                    <span>Get Your Brain Training For Dogs Now</span></a>
            </div>
        </div>
    </div>
</div>